name: Test and release
on:
    push:

jobs:
    build:
        uses: riotkit-org/.github/.github/workflows/build.go.yaml@release-1
        with:
            binaryName: manager
            sonarCloudEnabled: false
            intermediateArtifactsPath: ".build/"
        secrets:
            SONAR_TOKEN: "${{ secrets.SONAR_TOKEN }}"

    bin:
        needs: ["build"]
        uses: riotkit-org/.github/.github/workflows/release.binary.yaml@release-1
        with:
            binaryName: manager
            intermediateArtifactsPath: ".build/"

    container:
        needs: ["build"]
        uses: riotkit-org/.github/.github/workflows/release.container.yaml@release-1
        with:
            dockerImage: ghcr.io/riotkit-org/backup-maker-controller
            intermediateArtifactsPath: ".build/"

    helm:
        needs: ["build", "container"]
        uses: riotkit-org/.github/.github/workflows/release.helm.yaml@release-1
        with:
            chartPath: charts/backup-maker-controller
            chartRepoSuffix: "charts/"
